@import "variables";

body {
  background-color: @background-color;
  padding: 10px;
  font-size: 10px;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  width: 95%;
}

text {
  fill: black;
}

.row {
  padding-top: 10px;
}


